<!DOCTYPE html>
{% load static %}
<html lang="en">
 <style>
   ul.hr {
    margin: 0; /* Обнуляем значение отступов */
    padding: 4px; /* Значение полей */
   }
   ul.hr li {
    display: inline; /* Отображать как строчный элемент */
    margin-right: 5px; /* Отступ слева */
<!--    border: 1px solid #000; /* Рамка вокруг текста */-->
    padding: 3px; /* Поля вокруг текста */
   }
  </style>
<head>
    <meta charset="UTF-8">
    <title>Aнализатор и диагностика локальной сети</title>
<!--    <link href="{% static 'css/styles5.css' %}" rel = "stylesheet">-->
    <link rel="stylesheet" href="/static/admin/css/base.css">
</head>
<body>
<center><h3>NetDiags: диагностика локальной сети</h3></center>
<div align="right">
<ul class="hr">
    <li><a href="/admin/">[О сервисе]</a></li>
    <li><a href="/admin/">[Обратная связь]</a></li>
    <li><a href="/admin/">[Вход в админку] </a></li>
</ul>
</div>
<hr>
<div align="center">
<form action="/" method="POST">
    {% csrf_token %}
    {{ form }}
    Метод проверки:
    <select name="service">
<!--        <option disabled>Выбор типа проверки</option>-->
        <option>ping</option>
        <option>порты</option>
    </select>

    Размер пакета(байт):
    <select name="packet_size">
<!--        <option disabled>64</option>-->
        <option>32</option>
        <option>64</option>
        <option>128</option>
        <option>256</option>
    </select>

    Число пакетов:
    <select name="packet_count">
<!--        <option disabled>64</option>-->
        <option>10</option>
        <option>100</option>
        <option>200</option>

    </select>

    <input type="submit" name="Button" value="Начать проверку">
<!--           onclick="document.write('нажата кнопка проверки');">-->

</form>
</div>
<hr>
<table align="center">
    <tr align="center">
        <th>Дата</th><th>Хост</th> </th> <th>Среднее время отклика</th>
        <th>Оправлено пакетов</th><th>Получено пакетов</th>
        <th>Потеряно пакетов</th><th> % потерь</th>
    </tr>
{% for rec in allrec %}
    <tr>
        <td>{{ rec.log_date|date:"SHORT_DATE_FORMAT" }} {{ rec.log_date|time:"H:i" }}</td>
        <td>{{ rec.log_host }}</td> </td><td>{{ rec.log_average |floatformat:7 }}</td>
        <td>{{ rec.log_ping_count }}</td> <td>{{ rec.log_ping_receive }}</td>
        <td>{{ rec.log_ping_lost }}</td><td>{{ rec.log_percent_lost |floatformat:2 }}</td>
    </tr>
{% endfor %}
</table>

<br>
<script>
    document.getElementById("id_sector_name").addEventListener("change", function() {
        var sector_id = this.value;
        var serverSelect = document.getElementById("id_server_name");
        serverSelect.innerHTML = "";
        fetch("/start/" + sector_id + "/")
            .then(response => response.json())
            .then(data => {
                data.forEach(function(server) {
                    var option = document.createElement("option");
                    option.value = server.id;
                    option.text = server.name;
                    serverSelect.add(option);
                });
            });
    });
</script>

</body>
</html>