<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Диагностика сети</title>
</head>
<body>
<h1>Диагностика сети</h1>
<hr>

<form action="/" method="POST">
    {% csrf_token %}
    {{ form }}
    Метод проверки:
    <select name="service">
<!--        <option disabled>Выбор типа проверки</option>-->
        <option>ping</option>
        <option>порты и службы</option>
    </select>

    <input type="submit" name="Button" value="Начать проверку">

</form>
<hr>
Оправлено пакетов: <b>{{ ping_count1 }}</b>
<br>
Среднее время отклика: <b>{{ lost_count1 }}</b>

<script>
    document.getElementById("id_sector_name").addEventListener("change", function() {
        var sector_id = this.value;
        var serverSelect = document.getElementById("id_server_name");
        serverSelect.innerHTML = "";
        fetch("/start/" + sector_id + "/")
            .then(response => response.json())
            .then(data => {
                data.forEach(function(server) {
                    var option = document.createElement("option");
                    option.value = server.id;
                    option.text = server.name;
                    serverSelect.add(option);
                });
            });
    });
</script>

</body>
</html>