<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aнализатор и диагностика локальной сети</title>
    <link href="{% static 'css/styles4.css' %}" rel = "stylesheet">
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">-->
</head>
<body>
<table width="100%">
    <tr>
        <td><center><h2>NetDiags</h2>диагностика локальной сети</center></td>
        <td align="right"><a href="/admin/">[О сервисе]</td>
        <td align="right"><a href="/admin/">[Обратная связь]</td>
        <td align="right"><a href="/admin/">[Вход в админку] </td>
    </tr>
</table>


<hr>

<form action="/" method="POST">
    {% csrf_token %}
    {{ form }}
    Метод проверки:
    <select name="service">
<!--        <option disabled>Выбор типа проверки</option>-->
        <option>ping</option>
        <option>порты и службы</option>
    </select>

    <input type="submit" name="Button" value="Начать проверку">
<!--           onclick="document.write('нажата кнопка проверки');">-->

</form>
<hr>
<table>
    <tr>
        <td>Дата </td><td>Хост</td> </td><td> Оправлено пакетов</td> <td>Среднее время отклика</td>
    </tr>
{% for rec in allrec %}
    <tr>
        <td>{{ rec.log_date }} </td><td>{{ rec.log_host }}</td> </td><td align="right">{{ rec.log_ping_count }}</td> <td align="right">{{ rec.log_lost_count }}</td>
    </tr>
{% endfor %}
</table>>

<br>
<script>
    document.getElementById("id_sector_name").addEventListener("change", function() {
        var sector_id = this.value;
        var serverSelect = document.getElementById("id_server_name");
        serverSelect.innerHTML = "";
        fetch("/start/" + sector_id + "/")
            .then(response => response.json())
            .then(data => {
                data.forEach(function(server) {
                    var option = document.createElement("option");
                    option.value = server.id;
                    option.text = server.name;
                    serverSelect.add(option);
                });
            });
    });
</script>

</body>
</html>